html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    font-family: 'Unbounded', cursive;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    color: #1B1A1A;
    margin: 0;
    height: 100%;
}

body {
    background: rgb(206 206 223 / 60%);
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.container {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 0.7em 0.4em #2a2a2a94;
    background: #f6f6f6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1em;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-inner img {
    height: 10em;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

main.main {
    padding: 1em 2em;
    background: #f6f6f6;
}

h2.main-title {
    font-size: 2em;
    line-height: 2em;
    margin: 0;
    margin-bottom: 1em;
}

.main-item-title {
    font-size: 2em;
    line-height: 2em;
    border-top: 0.01em solid;
    margin-top: 0.4em;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a255af;
    cursor: pointer;
}

label.main-item-label {
    cursor: pointer;
}

input.main-item-radio {
    width: 0;
    height: 0;
    appearance: none;
    -webkit-appearance: none;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-item-meme {
    text-align: center;
}

.main-item-meme img {
    width: 0;
    height: 0;
}

.main-box .main-item-title-icon-open img {
    display: none;
}

input.main-item-radio:checked~.main-item-meme img {
    display: inline-block;
    background: #301c4930;
    padding: 3em;
    border: 0.01em solid #9d9d9d3b;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em 0.2em #2a2a2a38;
    width: 25em;
    height: 25em;
    object-fit: contain;
}

@media (hover: hover) {
    .main-item-title-icon-close img {
        width: 0;
        height: 0;
    }
    .main-item:hover .main-item-meme img {
        display: inline-block;
        background: #301c4930;
        padding: 3em;
        border: 0.01em solid #9d9d9d3b;
        border-radius: 2em;
        box-shadow: 0.1em 0.1em 0.3em 0.2em #2a2a2a38;
        animation-name: slidein;
        animation-duration: 3s;
        width: 25em;
        height: 25em;
        object-fit: contain;
    }

    .main-box:hover .main-item-title-icon-open img {
        display: block;
        margin-top: 1.8em;
    }

    .main-box:hover .main-item-title {
        color: #1B1A1A;
        transition: 1s linear;
    }

    .main-box .main-item:hover .main-item-title-icon-open img {
        display: none;
    }

    .main-box .main-item:hover .main-item-title-icon-close img {
        width: inherit;
        height: inherit;
        animation-name: slidein;
        animation-duration: 1s;
    }

    .main-item:hover input.main-item-radio:checked~.main-item-meme img {
        animation-name: inherit;
        animation-duration: inherit;
    }
    input.main-item-radio:checked~.main-item-title {
        color: #1B1A1A;
    }
    input.main-item-radio:checked~.main-item-title .main-item-title-icon-open {
        display: none;
    }
    input.main-item-radio:checked~.main-item-title .main-item-title-icon-close img {
        width: inherit;
        height: inherit;
        animation-name: slidein;
        animation-duration: 1s;
    }
}
@media (hover: none) {
    .main-item input.main-item-radio .main-item-meme img {
        width: 0;
        height: 0;
    }

    .main-item input.main-item-radio:checked~.main-item-meme img {
        display: inline-block;
        background: #301c4930;
        padding: 3em;
        border: 0.01em solid #9d9d9d3b;
        border-radius: 2em;
        box-shadow: 0.1em 0.1em 0.3em 0.2em #2a2a2a38;
        animation-name: slidein;
        animation-duration: 2s;
        width: 25em;
        height: 25em;
        object-fit: contain;
    }

    .main-box input.main-item-radio:checked~.main-item-title {
        color: #1B1A1A;
        transition: 1s linear;
    }

    .main-box .main-item-title-icon-open img {
        display: block;
        margin-top: 0em;
    }
    .main-box .main-item-title-icon-close img {
        display: none;
    }

    .main-box input.main-item-radio:checked~.main-item-title .main-item-title-icon .main-item-title-icon-open img {
        display: none;
    }

    .main-box input.main-item-radio:checked~.main-item-title .main-item-title-icon .main-item-title-icon-close img {
        display: block;
    }
    label {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    }

}
.main-item:active {
    opacity: 0.5;
}

.main-item:active .main-item-title {
    color: #a255af;
}
footer {
    background: #3b3940;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
}

footer img {
    width: 5em;
}

@media (max-width: 1200px) {
    .container {
        width: 80%;
        box-shadow: none;
    }

    body {
        background: #f6f6f6;
    }

    .main-item input.main-item-radio:checked~.main-item-meme img {
        width: 100%;
    }
    body {
        font-size: 0.9em;
    }
    h2.main-title {
        font-size: 1.9em;
    }
    .main-item-title {
        font-size: 1.8em;
    }
    .main-item-title img {
        width: 1.3em;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }
    body {
        font-size: 1em;
    }
    h2.main-title {
        font-size: 2.3em;
    }
    .main-item-title {
        font-size: 2em;
    }
    .main-item-title img {
        width: 1em;
    }
}